/** @format */
body {
  background: #f9f7fe;
  font-family: sans-serif;
  color: rgba(28, 18, 18, 0.928);
  background: url(https://cdn.pixabay.com/photo/2016/04/02/14/46/world-1302934_1280.jpg);
  background-position: justify;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 40px;
  color: #425477;
}

h2 {
  margin: 0 0 5px;
  font-size: 28px;
  color: #425477;
}

select {
  display: block;
  width: 100%;
  border-radius: 4px;
  font-size: 18px;
  padding: 10px;
  background-color:|#D7E1EB;
}

a {
  text-decoration: none;
  color: #425477;
}
.container {
  max-width: 600px;
  margin: 60px auto;
  background: #;
  padding: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  background: rgba(242, 240, 240, 0.4);
}

.city {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.24);
  color: #425477;
}

.city:last-child {
  border: none;
  color: #425477;
}

.date {
  opacity: 0.7;
}

.time {
  font-size: 48px;
  font-weight: bold;
  color: #425477;
}

.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 48px;
  color: color: #425477;
}

footer {
  text-align: center;
  font-size: 18px;
  color: color: #425477;
}
